<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">ADD CONTAINER</h4>
</div>
<div class="modal-body">
    <div class="qing-modal-title">
        <strong>column</strong>
        <input type="text" ng-model="vm.columnNumber" model-format="int" />
    </div>
    <div>
        <span ng-repeat="item in vm.column | castLast">
            <input type="text" ng-model="item.md"  class="input" model-format="int" style="width:{{item.md*40}}px"/>
            <span class="glyphicon glyphicon-plus-sign"></span>
        </span>
        <span>
            <input type="text" ng-value="getValue()"  class="input" ng-readonly="true" style="width:{{getValue()*40}}px"/>
        </span>
        =<span ng-bind="vm.totalColumn"></span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
