<%
var defaultItem = _.findWhere(config.group,{isDefault:true});
%>
<div class="form-group" <% if(defaultItem){%>
ng-init="<%= config.modelName%> = '<%= defaultItem.value %>'"
<% }%>>
<label class="col-sm-2 control-label"><%= config.label %></label>

<div class="col-sm-10">
    <div class="btn-group">
        <% _.each(config.group,function(item){ %>
        <button type="button" class="btn btn-primary" ng-model="<%= config.modelName%>"
                btn-radio="'<%= item.value %>'">
            <%= item.label %>
        </button>
        <%})%>
    </div>
</div>
</div>