.navbar {
  position: sticky;
  border-radius: 0;
  background-color: #60cdb5;
  border-bottom: 1px solid #949390;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
.navbar-header .navbar-brand {
  color: #fff;
  font-family: Tahoma, arial, sans-serif;
  letter-spacing: 3px;
}
