.design-tool-bar {
  position: relative;
  z-index: 1;
  height: 20px;
  background-color: #ececec;
  cursor: move;
  margin-bottom: 2px;
  h3 {
    margin: 0;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }
  .btn-group {
    position: absolute;
    right: 5px;
    top: 0;
  }
  a {
    cursor: pointer;
  }
}

.tool-bar-hight-light {
  border: 1px dashed #ff0000 !important;
}