.design-tool-bar {
  position: absolute;
  right:-11px;
  width:26px;
  top: -1px;
  z-index: 1;
  padding: 5px 0;
  background-color:#eee;
  cursor: move;
  margin-bottom: 2px;
  text-align:center;
  a {
    cursor: pointer;
  }
}
.tool-bar-hight-light {
  border-color: #ff0000 !important;
}