<div>
    <div class="qing-modal-title">
        <strong>column</strong>
        <input type="text" ng-model="viewmodel.columnNumber" input-mask="columnMaskoption"
               ng-change="columnNumberChange();"/>
    </div>
    <div class="row-fl">
        <span ng-repeat="item in viewmodel.column" ng-switch on="$last">
           <span ng-switch-when="false">
           	 <input type="text" ng-model="item.value" class="input" model-format="int" ng-change="columnChange();"/>
            <span class="glyphicon glyphicon-plus-sign"></span>
           </span>
           <span ng-switch-when="true">
           	 <input type="text" ng-model="item.value" class="input" ng-disabled="true"/>
           </span>
        </span>
        =<span ng-bind="viewmodel.totalColumn"></span>
    </div>
</div>