<div class="qing-add" ng-class= "{'open' : addOpen == true}" >
    <div class="add-list">
        <ul>
            <li><a ng-click="addContModal()"><i class="glyphicon glyphicon-th"></i>Container</a></li>
            <li><a><i class="glyphicon glyphicon-list-alt"></i>Conponment</a></li>
        </ul>
    </div>
    <a class="btn btn-default" ng-click="toggleOpen()">
        <i class="glyphicon glyphicon-plus" ng-hide="addOpen == true"></i>
        <i class="glyphicon glyphicon-chevron-down" ng-show="addOpen == true"></i>
    </a>
</div>