<div class="md-qing-input-box">
    <pre>{{config | json}}</pre>
    <div class="form-group"
         ng-class="{'has-error':designForm.modelName.$invalid,'has-success':designForm.modelName.$valid}">
        <label class="col-sm-2 control-label">model name</label>

        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon">vm.</span>
                <input type="text" name="modelName" class="form-control" ng-model="config.modelName" ng-required="true"
                       ng-pattern="/^[a-zA-Z_]+(([a-zA-Z_]\d*)|\.)*$/">
            </div>
            <span class="help-block" ng-show="designForm.modelName.$error.required">Model name required.</span>
            <span class="help-block"
                  ng-show="designForm.modelName.$error.pattern">Model name is invalid.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':designForm.label.$invalid,'has-success':designForm.label.$valid}">
        <label class="col-sm-2 control-label">label name</label>

        <div class="col-sm-10">
            <input type="text" name="label" class="form-control" ng-model="config.label" ng-required="true">
            <span class="help-block" ng-show="designForm.label.$error.required">Label required.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBoxType" class="col-sm-2 control-label">Type</label>

        <div class="col-sm-10">
            <select ui-select2 ng-model="config.boxType" class="input-box-type" id="inputBoxType"
                    data-placeholder="Input box type" ng-change="boxTypeChange();">
                <option ng-repeat="type in inputBoxConfig.types" value="{{type.value}}">{{type.text}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBoxPattern" class="col-sm-2 control-label">Pattern</label>

        <div class="col-sm-10">
            <input type="text" ng-model="config.pattern" class="form-control" id="inputBoxPattern"
                    />
            <span class="help-block">Pattern should like '/xxx/'.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="config.required" ng-true-value="true" ng-false-value="false">
                    Required
                </label>
            </div>
        </div>
    </div>
</div>