<div class="md-qing-input-box">
    <div class="form-group"
         ng-class="{'has-error':designForm.modelName.$invalid,'has-success':designForm.modelName.$valid}">
        <label class="col-sm-2 control-label">model name</label>

        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon">vm.</span>
                <input type="text" name="modelName" class="form-control" ng-model="config.modelName" ng-required="true"
                       ng-pattern="/^[a-zA-Z_]+(([a-zA-Z_]\d*)|\.)*$/">
            </div>
            <span class="help-block" ng-show="designForm.modelName.$error.required">Model name required.</span>
            <span class="help-block"
                  ng-show="designForm.modelName.$error.pattern">Model name is invalid.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':designForm.label.$invalid,'has-success':designForm.label.$valid}">
        <label class="col-sm-2 control-label">label name</label>

        <div class="col-sm-10">
            <input type="text" name="label" class="form-control" ng-model="config.label" ng-required="true">
            <span class="help-block" ng-show="designForm.label.$error.required">Label required.</span>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td></td>
            <td>Label</td>
            <td>Value</td>
            <td>Default?</td>
            <td><a ng-click="add(s)"><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in config.group">
            <td>{{$index + 1}}</td>
            <td><input ng-model="item.label" type="text" placeholder="type label" class="form-control"/></td>
            <td><input ng-model="item.value" type="text" placeholder="type value" class="form-control"/></td>
            <td>
                <button type="button" class="btn btn-primary" ng-model="item.isDefault" btn-checkbox
                        btn-checkbox-true="true" btn-checkbox-false="false"
                        ng-click="setDefault($index)">{{getDefaultText(item)}}
                </button>
            </td>
            <td><a ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>